* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Lovera";
}

@font-face {
    font-family: "Lovera";
    src: url('Lovera.otf');
}

/**************** FOR BACKGROUND DESIGN PURPOSES ONLY ****************/
.background-area {
    background: #1f1a49;
    background: -webkit-linear-gradient(to left, #E1ACAC, #CA8787);
    width: 100%;
    height: 100vh;
    position: relative;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* ********************************************************** */

.container {
    padding: 50px;
    position: absolute;
    bottom: 30px;
    left: 280px;
    z-index: 2;
    padding-bottom: 80px;
    background-color: white;
    box-shadow: inset 2px 3px 10px black;
    border-radius: 5px;
}

.post-container {
    border-radius: 12px;
    box-shadow: inset 2px 3px 10px black;

    width: 45em;
    height: 28em;

    background: radial-gradient(circle at 50% 50%, rgba(123, 121, 131, 1), rgba(34, 26, 75, 0.8));
    opacity: 0.8;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: aliceblue;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: aliceblue;
}

hr {
    width: 300px;
    margin-left: 200px;
    border: 2px solid black;
}

h5 {
    text-align: center;
    font-size: 20px;
}

h4 {
    font-size: 20px;
    margin-left: 30px;
}

p {
    margin: auto 50px;
    padding: 30px;
    text-align: center;
    font-size: 28px;
    color: aliceblue;
}